/*
    TODO: Cambios realizados/finalizados:
    *Definir el estilo visual ✓
    *Definir paleta de colores ✓
    *Cambiar el fondo por uno con menos ruido ✓
    *Terminar de acomodar todas las secciones ✓
    *Márgenes más grandes entre títulos de secciones ✓
    *Títulos de secciones más grandes ✓
    *Adaptar con media queries para tablet ✓
    *Diseñar una navbar estilo móvil ✓
    *Adaptar con media queries para móvil a partir de 600px de width ✓
    *Acomodar las font-family y usar Roboto ✓

    TODO: Cambios/arreglos a realizar:
    *Adaptar con font size y resolución de img para 1440p

    TODO: Cambios opcionales:
    *Recortar bien la foto y mejorar el efecto blanco y negro
    *Diseñar fav.icon

    TODO: Animaciones o JS:
    *Añadir 'selected' botón del nav marcado cuando se encuentra en su sección
    *Añadir animación de subrayado con hr o div en scrollbar.value
    *Añadir animación de opacidad en scrollbar.value

    *Opcional: Cards con hover que reproduce video
*/



@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #111111;
    --secondary-color: #FFA700;
    --tertiary-color: #F5F5F5;

    --tertiary-font: 'Roboto Condensed', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --primary-font: 'Roboto Condensed', sans-serif;

    --icon-fontSize: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

::-webkit-scrollbar:hover {
    filter: blur(45px);
}


html {
    background: url(./assets/test/fondo-ruido.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* HEADER Y HOME SECTION*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

header .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

header .header-container .right {
    margin-right: 3em;
}

header .header-container .left{
    margin-left: 3em;
    display: flex;
    flex-direction: column;
}

header .left a i{
    font-size: 40px;
    color: var(--tertiary-color);
    margin: 20px 0 20px 0;
    text-decoration: none;
}

header .left a i:hover{
    color: var(--secondary-color);
    text-shadow: 0 0 10px var(--secondary-color),
                 0 0 20px var(--secondary-color),
                 0 0 40px var(--secondary-color),
                 0 0 80px var(--secondary-color), ;
}

header nav{
    list-style: none;
    position: fixed;
    right: 1em;
    top: 2em;
}

header nav ul li{
    list-style: none;
    font-size: 18px;
    color: var(--tertiary-color);
    font-family: var(--tertiary-font);
    transform: rotate(90deg);
    margin: 6em 0 0 0;
}

.project, .contact{
    margin: 7em 0 0 0;
}



header  nav ul li a{
    text-decoration: none;
    color: var(--tertiary-color);
    letter-spacing: 3px;
}

header  nav ul li a:hover{
    color: var(--secondary-color);
}

.portada {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loader {
    position: relative;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent,
         transparent 40%, var(--secondary-color));
    animation: animar 18s linear infinite;
}

@keyframes animar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader:before {
    content: '';
    position: absolute;
    top: 35px;
    left: 35px;
    right: 35px;
    bottom: 35px;
    border-radius: 50%;
    z-index: 1000;

    background: url(./assets/test/fondo-sinruido.jpg);
}

.loader:after {
    content: '';
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background:linear-gradient(45deg, transparent,
    transparent 40%, var(--secondary-color));
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(20px);
}

.img-container {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: 30.5px;
    margin-right: 3.5px;
    z-index: 1;
}

.img-container img {
    max-width: 100%;
    height: auto;
    filter: contrast(112%);
    filter: sepia(50%);
}

.home-text-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-text-bottom h1{
    font-family: var(--primary-font);
    letter-spacing: 5px;
    color: var(--tertiary-color);
    font-size: 70px;
}

.home-text-bottom h2{
    font-family: var(--secondary-font);
    letter-spacing: 2px;
    font-size: 24px;
    margin-top: 10px;
}

.home-text-bottom span{
    color: var(--secondary-color);
}

/* 

    ! *** A partir de acá es todo prueba ****

*/

main {
    margin: 3% 12%;
}


main hr {
    border: none;
    margin-bottom: 70px;
}

h2 {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 30px;
}

h3 {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 26px;
    letter-spacing: 3px;
}

h4 {
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
    font-size: 20px;
}

p{
    font-family: var(--tertiary-font);
    color: var(--tertiary-color);
    font-size: 18px;
}

main section{
    color: var(--secondary-color);
    margin: 20px 0;
}

/* SECTION ABOUT */

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.about-skill-soft, .about-skill-hard, .about-skill-others {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.about-skill-soft-box i{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--icon-fontSize);
    color: var(--secondary-color);
    margin: 10px 0;
}

.about-skill-soft-box, .about-skill-hard-box, .about-skill-others-box {
    margin-top: 15px;
}

.about-skill-hard-box{
    display: flex;
    flex-wrap: wrap;
}

.about-skill-hard-box > i{
    flex: 40%;

}
.about-skill-hard-box i{
    font-size: 45px;
    margin: 5px 0;
}

.about-skill-others-box {
    display: flex;
}

.about-skill-others-box .icon-container {
    max-width: 50px;
    height: auto;
}

.about-skill-others-box img {
    width: 100%;
    height: auto;
}

/*SECTION PROJECT*/

.project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.project-container .card{
    background-color: var(--primary-color);
    border-radius: 20px;
    width: 250px;
    margin: 10px 10px;
}


.card .card-container {
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
    filter: grayscale(0.8);
    width: 250x;
    height: auto;
}

.card .card-container:hover {
    filter: grayscale(0);
    transition: 0.3s;
}

.card-container img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.card .card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    min-height: 66px;
    max-height: 66px;
}

.card .card-details h3{
    margin: 5px 0;
    color: var(--secondary-color);
    font-size: 20px;
}

.card-details p {
    color: var(--tertiary-color);
    font-size: 14px;
}

.card .card-footer{
    display: flex;
    justify-content: center;
}

.card .card-footer a{
    font-size: 16px;
    color: var(--tertiary-color);
    margin: 10px;
}

.card .card-footer a:hover{
    color: var(--secondary-color);
}

/*SECTION CONTACT*/

#mate-icon {
    max-width: 18px;
    margin-bottom: -1.5px;
}
#mate-icon img{
    width: 100%;
    height: auto;
}

.contact-container-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.contact-container-box .contact-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-container-box .contact-text h3{
    letter-spacing: 5px;
}

.contact-container-box .contact-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
}

.contact-container-box .contact-icon a i{
    font-size: 40px;
    color: var(--tertiary-color);
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.contact-container-box .contact-icon a i:hover{
    color: var(--secondary-color);
}

.contact-container-box form{
    width: 450px;
    background: none;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;

    opacity: 0.85;
}

.contact-container form label{
    color: var(--tertiary-color);
    font-family: var(--tertiary-font);
}

.contact-container input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    font-size: 16px;
    color: var(--tertiary-color);
}


.contact-container form #button{
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    font-family: 'Roboto', sans-serif;
    border: none;
}

.contact-container form #button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

footer {
    text-align: center;
}

/* MEDIA QUERIES PARA TABLET */

@media (max-width: 950px) {

    /*HEADER*/
    header nav {
        right: 0em;
    } 
    header .left a{
        display: none;
    }

    header .header-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .loader {
        width: 370px;
        height: 370px;
    }

    .img-container {
        width: 284px;
        margin-right: 4px;
    }

    /*ABOUT*/
    .about-skill-soft h4, .about-skill-hard h4, .about-skill-others h4{
        font-size: 17px;
    }    

    /*CONTACT*/
    section .contact-container-box {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    section .contact-container-box .contact-icon{
        margin-top: 25px;
    }
}

/* MEDIA QUERIES PARA TABLET */

@media (max-width:768px) {

    /*CONTACT*/
    .about-container {
        display: flex;
        flex-direction: column;
    }

    .about-skill-soft, .about-skill-hard, .about-skill-others{
        margin: 17px 0;
        text-align: center;
    }   

    header nav ul li{

        margin: 6em -1.5em 0 0;
    }

    .project, .contact{
        margin: 8em -1.5em 0 0;
    }
}



@media (min-height: 950px){
    header nav{
        right: 1em;
        top: 9em;
    }
}

@media (max-height: 950px) {
    header nav{
        right: 1em;
        top: 7em;
    }
}

@media (max-height: 800px) {
    header nav{
        right: 1em;
        top: 4em;
    }
}

@media (max-height: 650px) {
    html{
        overflow-x: hidden;
        box-sizing: border-box;
    }
    header nav{
        list-style: none;
        position: fixed;
        right: 0;
        top: 0;
        margin: 0;
        padding: 0;
    }
    
    header nav ul li{
        list-style: none;
        font-size: 14px;
        margin: 7em 0;
        padding: 0;
    }

    .left {
        margin: 0;
        padding: 0;
    }
}

/*MEDIA QUERIES MOBILE*/

@media (max-width: 600px){

    main {
        margin: 3% 6%;
    }


    header {
        height: 82vh;
        padding: 0;
        margin: 0;
    }

    header nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;

        overflow-x: hidden;
    }

    header nav ul{
        width: 100%;
        height: 55px;
        margin: 0;
        padding: 0;
        bottom: 0;
        right: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        
        background-color: var(--primary-color);

        z-index: 999;

        overflow-x: hidden;
    }

    header nav ul li{
        transform: rotate(0);
        margin: 0;
    }

    header nav ul li a{
        margin: 0;
        padding: 0;
    }

    .project, .contact{
        margin: 0;
    }

    .home-text-bottom {
        text-align: center;
    }

    .home-text-bottom h1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer {
        margin-bottom: 85px;
    }
}

/*min-width: 280px and max-width: 600px*/

@media (min-width: 280px) and (max-width: 600px){
    html {
        overflow-x: hidden;
    }
    header {
        margin-top: 20px;
        height: 85vh;
    }
    
    header .header-container .right {
        margin-right: 0em;
    }
    
    header .header-container .left{
        margin-left: 0em;
    }
    .loader {
        position: absolute;
        max-width: 250px;
        max-height: 250px;
    }

    .loader:before {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        max-width: 250px;
        max-height: 250px;
    }

    .loader:after {
        filter: blur(6px);
        max-width: 250px;
        max-height: 250px;
    }

    .img-container {
        width: 200px;
        height: auto;
        position: absolute;
        bottom: -120px;
        margin-right: 5px;
        z-index: 1;
    }

    .home-text-bottom h1{
        font-family: var(--primary-font);
        letter-spacing: 5px;
        color: var(--tertiary-color);
        font-size: 30px;
        /* margin-top: -50px; */
    }
    
    .home-text-bottom h2{
        font-family: var(--secondary-font);
        letter-spacing: 0px;
        font-size: 20px;
        margin-top: 10px;
    }

    .contact-container-box form{
        width: 100%;
        background: none;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 50px;
        margin-bottom: 10px;
        border-radius: 5px;
    
        opacity: 0.85;
    }
}

/* 240 x 280 */

@media (min-width:220px) and (max-width:279px){
    header {
        margin-top: 20px;
        height: 85vh;
    }
    
    header .header-container .right {
        margin-right: 0em;
    }
    
    header .header-container .left{
        margin-left: 0em;
    }
    .loader {
        position: absolute;
        max-width: 120px;
        max-height: 120px;
    }

    .loader:before {
        top: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;
        max-width: 120px;
        max-height: 120px;
    }

    .loader:after {
        filter: blur(6px);
        max-width: 120px;
        max-height: 120px;
    }

    .img-container {
        width: 100px;
        height: auto;
        position: absolute;
        bottom: -57px;
        margin-right: 2px;
        z-index: 1;
    }

    .home-text-bottom h1{
        font-family: var(--primary-font);
        letter-spacing: 5px;
        color: var(--tertiary-color);
        font-size: 18px;
        /* margin-top: -50px; */
    }
    
    .home-text-bottom h2{
        font-size: 10px;
        margin-top: 10px;
    }

    p {
        font-size: 10px;
    }
    
    h3{
        font-size: 12px;
    }
}